/*-----------------------------------*\ 
  #media_query.css
\*-----------------------------------*/

/**
 * copyright 2022 @codewithsadee 
 */





/*-----------------------------------*\ 
  #for large mobile
\*-----------------------------------*/

@media (min-width: 450px) {

  /**
   * CUSTOM PROPERTY 
   */

  :root {

    /**
     * typography 
     */

    --fs-1: 54px;
    --fs-2: 36px;
    --fs-3: 20px;

  }



  /**
   * HOME 
   */

  .home-text {
    max-width: 320px;
    margin-inline: auto;
  }

  .home .btn-group {
    flex-direction:  row;
    justify-content: center;
  }

  .dialog-1 { top: 15%; }

  .dialog-2 { right: 15%; }

  .shape-1 {
    top:  10%;
    left: 15%;
  }

}





/*-----------------------------------*\ 
  #for tablat
\*-----------------------------------*/

@media (min-width: 570px) {

  /**
   * CUSTOM PROPERTY 
   */

  :root {

    /**
     * spacing 
     */

    --mw: 550px;

  }



  /**
   * HEADER, HOME, ABOUT, SERVICES, PRODUCTS, TESTIMONIALS, FOOTER
   */

  .navbar-wrapper,
  .home,
  .about,
  .services,
  .product,
  .testimonials,
  .footer-wrapper {
    max-width: var(--mw);
    margin-inline: auto;
  }

}





/*-----------------------------------*\ 
  #for large tablat
\*-----------------------------------*/

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY 
   */

  :root {

    /**
     * typography 
     */

    --fs-1: 72px;
    --fs-2: 40px;
    --fs-3: 22px;

    /**
     * spacing 
     */

    --mw: 720px;

  }



  /**
   * REUSED STYLE
   */

  .section-title { max-width: 460px; }



  /**
   * HEADER 
   */

  .cart-item .product-price { font-size: 18px; }



  /**
   * HOME 
   */

  .shape-1 { top: 27%; }

  .shape-3 {
    left: 50%;
    width: 50px;
  }

  .shape-4 {
    top: 35%;
    width: 100px;
  }



  /**
   * ABOUT 
   */

  .about-left .img-box { aspect-ratio: 5 / 3; }



  /**
   * SERVICES 
   */

  .service-card { display: grid; }

  .service-card .card-number {
    grid-row: 1 / 3;
    line-height: 1;
    margin-right: 30px;
  }

  .service-card .card-heading { grid-column: 2 / 3; }



  /**
   * PRODUCTS 
   */

  .products-grid {
    grid-template-columns: 1fr 1fr;
    gap: 60px 40px;
    margin-bottom: 70px;
  }



  /**
   * TESTIMONIALS 
   */

  .testimonials-grid { grid-template-columns: 1fr 1fr; }

}





/*-----------------------------------*\ 
  #for desktop
\*-----------------------------------*/

@media (min-width: 1024px) {

  /**
   * CUSTOM PROPERTY 
   */

  :root {

    /**
     * spacing 
     */

    --py: 100px;
    --mw: 950px;

  }



  /**
   * HEADER 
   */

  .navbar { padding: 35px 30px; }

  .navbar-nav {
    position: static;
    opacity: 1;
    visibility: visible;
    width:  auto;
    height: auto;
    transform: translateY(0);
    padding: 0;
    flex-direction: row;
    gap: 50px;
    pointer-events: all;
  }

  .menu-toggle-btn { display: none; }

  .cart-box {
    max-width: 450px;
    height: calc(100vh - 121px);
  }

  .cart-box-ul {
    padding: 60px;
    padding-bottom: 150px;
  }

  .cart-btn-group { padding: 30px 60px; }



  /**
   * HOME 
   */

  .home {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .home-left { text-align: left; }

  .home-text { margin-inline: 0; }

  .home .btn-group { justify-content: start; }

  .dialog-1, .dialog-2 { width: 260px; }



  /**
   * ABOUT 
   */

  .about {
    grid-template-columns: 3fr 4fr;
    gap: 80px;
    align-items: center;
    padding: var(--py) var(px) 120px;
  }

  .about-left .img-box { aspect-ratio: auto; }

  .shape-7 {
    top:   80%;
    left: -25px;
    width: 50px;
  }

  .shape-9 {
    bottom: -40px;
    left:    15%;
    width: 100px;
  }



  /**
   * SERVICES 
   */

  .services {
    grid-template-columns: 1fr 1fr;
    gap: 60px 30px;
  }



  /**
   * PRODUCTS 
   */

  .products-grid { grid-template-columns: repeat(3, 1fr); }



  /**
   * TESTIMONIALS 
   */

  .testimonials { padding-bottom: 200px; }



  /**
   * FOOTER 
   */

  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

}





/*-----------------------------------*\ 
  #for large desktop
\*-----------------------------------*/

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY 
   */

  :root {

    /**
     * spacing 
     */

    --mw: 1150px;

  }



  /**
   * SERVICES 
   */

  .services { grid-template-columns: repeat(3, 1fr); }

}